TRANSFORMACIÓN DE LOS CSV

In [1]:
#Importro Pandas.
import pandas as pd

In [2]:
#Importo los datasets.
amazon = pd.read_csv("C:/Users/franc/OneDrive/Escritorio/HENRY/PI01-Data-Engineering/Datasets/amazon_prime_titles-score.csv")
disney = pd.read_csv("C:/Users/franc/OneDrive/Escritorio/HENRY/PI01-Data-Engineering/Datasets/disney_plus_titles-score.csv")
hulu = pd.read_csv("C:/Users/franc/OneDrive/Escritorio/HENRY/PI01-Data-Engineering/Datasets/hulu_titles-score (2).csv")
netflix = pd.read_csv("C:/Users/franc/OneDrive/Escritorio/HENRY/PI01-Data-Engineering/Datasets/netflix_titles-score.csv")

In [3]:
#Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id.
#Agrego el campo "plataforma"
amazon["plataforma"] = "amazon"
amazon["id"] = "a" + amazon["show_id"]
disney["plataforma"] = "disney"
disney["id"] = "d" + disney["show_id"]
hulu["plataforma"] = "hulu"
hulu["id"] = "h" + hulu["show_id"]
netflix["plataforma"] = "netflix"
netflix["id"] = "n" + netflix["show_id"]

In [4]:
#Los valores nulos del campo rating deberán reemplazarse por el string “G”.
amazon["rating"].fillna("G", inplace = True)
disney["rating"].fillna("G", inplace = True)
hulu["rating"].fillna("G", inplace = True)
netflix["rating"].fillna("G", inplace = True)

In [5]:
#De haber fechas, deberán tener el formato AAAA-mm-dd
#Elimino los espacios a la izquierda y derecha y le doy formato date-time.
amazon["date_added"] = amazon["date_added"].str.lstrip()
amazon["date_added"] = amazon["date_added"].str.rstrip()
amazon["date_added"] = pd.to_datetime(amazon["date_added"])

In [6]:
disney["date_added"] = disney["date_added"].str.lstrip()
disney["date_added"] = disney["date_added"].str.rstrip()
disney["date_added"] = pd.to_datetime(disney["date_added"])

In [7]:
hulu["date_added"] = hulu["date_added"].str.lstrip()
hulu["date_added"] = hulu["date_added"].str.rstrip()
hulu["date_added"] = pd.to_datetime(hulu["date_added"])

In [8]:
netflix["date_added"] = netflix["date_added"].str.lstrip()
netflix["date_added"] = netflix["date_added"].str.rstrip()
netflix["date_added"] = pd.to_datetime(netflix["date_added"])

In [9]:
#Reemplazo los valores nulos de la columna de neftlix duration por los valores de la columna rating.
netflix["duration"].fillna(netflix["rating"][netflix["duration"].isnull()], inplace = True)

In [10]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  score         8807 non-null   int64
 13  plataforma    8807 non-null   object
 14  id            8807 non-null   object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 619.3+ KB

In [10]:
#Parto el campo duration de cada plataforma.
amazon_duration_partido = amazon["duration"].str.split(' ', n = 1, expand = True)
disney_duration_partido = disney["duration"].str.split(' ', n = 1, expand = True)
hulu_duration_partido = hulu["duration"].str.split(' ', n = 1, expand = True)
netflix_duration_partido = netflix["duration"].str.split(' ', n = 1, expand = True)

In [11]:
#Le asigno el valor númerico al campo duration_int y al campo duration_type "min" o "season"

amazon["duration_int"] = amazon_duration_partido[0]
amazon["duration_type"] = amazon_duration_partido[1]

In [12]:
disney["duration_int"] = disney_duration_partido[0]
disney["duration_type"] = disney_duration_partido[1]

In [13]:
hulu["duration_int"] = hulu_duration_partido[0]
hulu["duration_type"] = hulu_duration_partido[1]

In [14]:
netflix["duration_int"] = netflix_duration_partido[0]
netflix["duration_type"] = netflix_duration_partido[1]

In [19]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       7586 non-null   object
 4   cast           8435 non-null   object
 5   country        672 non-null    object
 6   date_added     155 non-null    datetime64[ns]
 7   release_year   9668 non-null   int64
 8   rating         9668 non-null   object
 9   duration       9668 non-null   object
 10  listed_in      9668 non-null   object
 11  description    9668 non-null   object
 12  score          9668 non-null   int64
 13  plataforma     9668 non-null   object
 14  id             9668 non-null   object
 15  duration_int   9668 non-null   int64
 16  duration_type  9668 non-null   object
dtypes: datetime64[ns](1), int64(3), object(13)
memory usage: 1.3+ MB

In [15]:
#Paso el campo "duration_int" de string a integer.
amazon["duration_int"] = pd.to_numeric(amazon["duration_int"])

In [16]:
disney["duration_int"] = pd.to_numeric(disney["duration_int"])

In [17]:
hulu["duration_int"] = pd.to_numeric(hulu["duration_int"])

In [18]:
netflix["duration_int"] = pd.to_numeric(netflix["duration_int"])

In [19]:
#Concateno los 4 dataframe.
df = pd.concat([amazon,disney,hulu,netflix])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22519 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  score          22998 non-null  int64
 13  plataforma     22998 non-null  object
 14  id             22998 non-null  object
 15  duration_int   22519 non-null  float64
 16  duration_type  22519 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 2.0+ MB

In [20]:
#Paso todos los campos que son string a minúscula.
df["show_id"] = df["show_id"].str.lower()
df["type"] = df["type"].str.lower()
df["title"] = df["title"].str.lower()
df["director"] = df["director"].str.lower()
df["cast"] = df["cast"].str.lower()
df["country"] = df["country"].str.lower()
df["rating"] = df["rating"].str.lower()
df["duration"] = df["duration"].str.lower()
df["listed_in"] = df["listed_in"].str.lower()
df["description"] = df["description"].str.lower()
df["plataforma"] = df["plataforma"].str.lower()
df["id"] = df["id"].str.lower()
df["duration_type"] = df["duration_type"].str.lower()

In [21]:
#Reemplazo los valores "seasons" por "season" del campo "duration_type"
df["duration_type"].replace({"seasons": "season"}, inplace = True)

In [22]:
#Transformo df a csv y le pongo el nombre de data_total
df.to_csv(r"C:\Users\franc\OneDrive\Escritorio\HENRY\PI01-Data-Engineering\data_total.csv", index = False)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22519 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  score          22998 non-null  int64
 13  plataforma     22998 non-null  object
 14  id             22998 non-null  object
 15  duration_int   22519 non-null  float64
 16  duration_type  22519 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 2.0+ MB

PRUEBAS PARA GENERAR LAS CONSULTAS CORRECTAS PARA LA API

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22519 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  score          22998 non-null  int64
 13  plataforma     22998 non-null  object
 14  id             22998 non-null  object
 15  duration_int   22519 non-null  float64
 16  duration_type  22519 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 2.0+ MB

CONSULTA 4: Película que más duró según año, plataforma y tipo de duración

In [28]:
def get_longest(plat: str, durtype: str, anio: int):
    
    mas_larga = df[(df["release_year"] == anio) & (df["plataforma"] == plat) & (df["duration_type"] == durtype)]
    mas_larga = mas_larga.sort_values("duration_int", ascending = False ).head(1)
    pelicula = list(mas_larga["title"])[0]
    duracion = list(mas_larga["duration_int"])[0]
    
    return {"title": pelicula, 
         "duration": duracion,
    "duration_type": durtype}

In [29]:
get_longest("netflix","min",2016)

{'title': 'sairat', 'duration': 173.0, 'duration_type': 'min'}

CONSULTA 1: Cantidad de veces que aparece una keyword en el título de peliculas/series, por plataforma

In [60]:
def get_word_count(plat: str, keyword: str):
    titulos_partidos = []
    cantidad = 0
    for titulo in df["title"][df["plataforma"] == plat]:
        titulos_partidos.append(titulo.split(" "))
    for i in titulos_partidos:
        if keyword in i:
            cantidad+=1
    return cantidad

In [61]:
get_word_count("netflix","love")

150

CONSULTA 2: Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año

In [9]:
def get_score_count(plat: str, puntaje: int, anio: int):
    consulta = df[(df["plataforma"]== plat) & (df["release_year"] == anio) & (df["score"] > puntaje) & (df["duration_type"] == "min")]
    return {"plataforma": plat,
    "cantidad": consulta.shape[0]}

In [11]:
get_score_count("netflix",85,2010)

{'plataforma': 'netflix', 'cantidad': 20}

CONSULTA 3: La segunda película con mayor score para una plataforma determinada, según el orden alfabético de los títulos.

In [63]:
def get_second_score(plat: str):
    consulta = df[(df["plataforma"] == plat) & (df["duration_type"] == "min")]
    consulta_ordenada = consulta.sort_values(["score","title"], ascending = (False, True))
    
    return list(consulta_ordenada["title"])[1]

In [68]:
get_second_score("amazon")

'abilene town'

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  object
 7   release_year   22998 non-null  int32
 8   rating         22998 non-null  object
 9   duration       22519 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  score          22998 non-null  int64
 13  plataforma     22998 non-null  object
 14  id             22998 non-null  object
 15  duration_int   22519 non-null  float64
 16  duration_type  22519 non-null  object
dtypes: float64(1), int32(1), int64(1), object(14)
memory usage: 2.9+ MB

CONSULTA 5: Cantidad de series y películas por rating.

In [74]:
def get_rating_count(rating: str):
    consulta = df[df["rating"] == rating]
    cantidad = consulta.shape[0]

    return cantidad

In [78]:
get_rating_count("18+")

1243